1 VERSIONINFO
FILEVERSION     0,3,0,0
PRODUCTVERSION  0,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "ItQuasar"
      VALUE "FileDescription", "Simple and fast IMAP4, POP3 and SMTP library for Qt"
      VALUE "FileVersion", "0.3"
      VALUE "InternalName", "libIqPostman"
      VALUE "LegalCopyright", "Copyright (C) 2015 Pavel A. Puchkov"
      VALUE "OriginalFilename", "libIqPostman.dll"
      VALUE "ProductName", "IqPostman"
      VALUE "ProductVersion", "0.3"
    END

    BLOCK "041904B0"
    BEGIN
      VALUE "CompanyName", "ItQuasar"
      VALUE "FileDescription", "Простая и быстрая IMAP4, POP3 и SMTP библиотека для Qt"
      VALUE "FileVersion", "0.3"
      VALUE "InternalName", "libIqPostman"
      VALUE "LegalCopyright", "Copyright (C) 2015 Павел А. Пучков"
      VALUE "OriginalFilename", "libIqPostman.dll"
      VALUE "ProductName", "IqPostman"
      VALUE "ProductVersion", "0.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200, 0x0419, 1200
  END
END